.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Flexbox1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 40px;
  margin-right: 40px;
}
.Flexbox1 > div {
  margin: 10px;
  text-align: center;
  height:auto;
  width: fit-content;
}
